# VS/ドットネットの基本
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.log

# Rider/VSCode
.idea/
.vscode/

# NuGet / package管理
packages/
*.nupkg

# 都市:CS2系の生成物（もし入っていれば）
*_win_x86_64.dll
*_linux_x86_64.so
*_mac_x86_64.bundle
*.pdb

# OSごみ
Thumbs.db
.DS_Store
